<h1 class="text-center text-6xl font-bold m-4">About Me</h1>
<div class="page text-center m-20 rounded-xl w-2/6 mx-auto p-12 shadow-lg hover:shadow-2xl duration-1000">
    <div class="img">

    </div>
    <div class="details px-6 text-left">
        <h4 class="text-3xl font-semibold ">Sarvesh Dhangar</h4>
        <h4 class="text-xl">Creator | Designer | Developer</h4>
        <p class="
        
        m-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, a quaerat. Totam ipsam iure corporis temporibus maiores, laudantium alias mollitia nemo labore molestiae perferendis.

        </p>
    </div>
</div>