<div class="home-page m-4 text-center">
  <div class="heading text-6xl font-extrabold my-12">
    Take your work on wheels of inernet! <br />
    Let's have a talk...
  </div>
  <div class="sub-heading w-2/4 m-auto my-12">
    With FinFlow, you can easily create a stunning website that is both
    beautiful and user-friendly. Whether you are a small business owner or a
    large corporation, this theme is perfect for you. It is incredibly easy to
    use, even for those with limited technical skills, and you can have your
    website up and running in no time.
  </div>
  <div class="btn">
    <button class="shadow-lg px-2 py-2 rounded-md border-b-4 border-black duration-750 text-white bg-indigo-600 hover:shadow-xl hover:border-none  hover:translate-y-2">
      Let's dive into it
    </button>
  </div>
</div>
